@{
    int IdSV = (int)ViewBag.IdSinhVien;
    int IdTN = (int)ViewBag.IdTracNghiem;
    int IdLop = (int)ViewBag.IdLop;
}



        <div class="card" style="margin-bottom:10px">
            <div class="card-header">
                <b>Câu 1</b>
            </div>
            <div class="card-block" style="padding:20px">
                <label>1 + 1 = ?</label>
                <hr />
                <div class="question">
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio" checked disabled> 1 (Sai)</label>
                    </div>
                    <div class="radio disabled" >
                        <label><input type="radio" name="optradio" disabled> 2 </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom:10px">
            <div class="card-header">
                <b>Câu 2</b>
            </div>
            <div class="card-block" style="padding:20px">
                <label>2 + 2 = ?</label>
                <hr />
                <div class="question">
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio2"  disabled> 1</label>
                    </div>
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio2" disabled> 2 </label>
                    </div>
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio2" disabled> 3</label>
                    </div>
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio2" checked disabled> 4 (Đúng)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom:10px">
            <div class="card-header">
                <b>Câu 3</b>
            </div>
            <div class="card-block" style="padding:20px">
                <label>3 + 3 = ?</label>
                <hr />
                <div class="question">
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio3" disabled> 3</label>
                    </div>
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio3" disabled> 4</label>
                    </div>
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio3" disabled> 5</label>
                    </div>
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio3" checked disabled> 6(Đúng)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom:10px">
            <div class="card-header">
                <b>Câu 2</b>
            </div>
            <div class="card-block" style="padding:20px">
                <label>4 + 4 = ?</label>
                <hr />
                <div class="question">
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio4" disabled> 2</label>
                    </div>
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio4" disabled> 4 </label>
                    </div>
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio4" disabled> 6</label>
                    </div>
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio4" checked disabled> 8 (Đúng)</label>
                    </div>
                </div>
            </div>
        </div> 