@{
    ViewBag.Title = "Home Page";
}
<!-- Star banner -->
@*<div class="banner-image">
        <div class="banner-text">
            <h1 style="font-size:50px">I am Jane Doe</h1>
            <h3>And I'm a Photographer</h3>
        </div>
    </div>*@
<!-- End Banner -->
<!-- Star Card -->
@*<div class="container" style="margin-top:50px;">
        <center><h4 style="margin: 60px 0 20px 0;">Lớp của bạn</h4></center>
        <div class="row card-main" style="width:100%;">
            <div class="card border-card mb-3" style="max-width: 18rem;">
                <div class="card-header text-white bg-color">Môn iden V</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Lớp dạy bd xào chuối</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                </div>
            </div>
            <div class="card border-card mb-3" style="max-width: 18rem;">
                <div class="card-header text-white bg-color">Môn iden V</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Lớp dạy bd xào chuối</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                </div>
            </div>
            <div class="card border-card mb-3" style="max-width: 18rem;">
                <div class="card-header text-white bg-color">Môn iden V</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Lớp dạy bd xào chuối</h5>`
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                </div>
            </div>
            <div class="card border-card mb-3" style="max-width: 18rem;">
                <div class="card-header text-white bg-color">Môn iden V</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Lớp dạy bd xào chuối</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="float-right ">
            <a class="text-color" href="/Home/DanhSachLopHoc">Xem tất cả  ...</a>
        </div>
    </div>*@
<!-- End Card -->

<div class="container">

    @using (ToMoToDBEntities db = new ToMoToDBEntities())
    {

        var nd = (NguoiDung)Session["user"];
        if (nd != null)
        {
            var listlop = db.LopHocs.Where(x => x.SVLops.Any(i => i.SinhVien.IdNguoiDung == nd.IdNguoiDung)).ToList();
            <center><h4 style="background-color:whitesmoke;padding:20px 0;margin-top:50px">Các lớp tham gia</h4></center>
            <br />
            <div class="row card-main" style="width:100%;">
                @foreach (var item in listlop)
                {
                    <div class="card2 border-card mb-3" style="max-width: 18rem;min-height:220px">
                        <a class="card-header text-white bg-color" href="/Home/ChiTietLopHoc/@item.IdLopHoc">@item.TenLop</a>
                        <div class="card-body text-info">
                            <h5 class="card-title">@item.NguoiDung.HoTen</h5>
                            <p class="card-text">
                                @item.MoTa
                            </p>
                        </div>
                    </div>
                }
            </div>
            <div class="text-right">
                <a href="@Url.Action("DanhSachLopHoc","Home")">Xem thêm >>></a>
            </div>
            <hr />
        }

    }

</div>
