
@{
    ViewBag.Title = "LuuTru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card" style="margin-top:20px">
        <h5 class="card-header text-center">Danh sách lưu trữ lớp học</h5>
        <div class="card-body">
            <table class="table align-items-center table-flush table-hover" id="tableLuuTru">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @using (ToMoToDBEntities db = new ToMoToDBEntities())
                    {
                        var nd = (NguoiDung)Session["user"];
                        int i = 1;
                        var listLop = db.LopHocs.Where(x => x.IdNguoiDung == nd.IdNguoiDung && x.TinhTrang == 0).ToList();
                        foreach (var item in listLop)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@item.TenLop</td>
                                <td>
                                    <a class="btn btn-primary float-right" href="@Url.Action("ChiTietLopHoc/"+item.IdLopHoc,"Home")"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tableLuuTru').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Vietnamese.json"
            }
        });

    });

</script>
