
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Trang trống</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
            <li class="breadcrumb-item">Trang</li>
        </ol>
    </div>

    <div class="text-center">
        <div style='width:200px;height:200px;display: inline-block;' data-anim-type='svg' class='lottie' data-animation-path='https://assets5.lottiefiles.com/packages/lf20_bTUFGt.json' data-anim-loop='true' data-name='ninja'></div>
        <h2>Con cú lông bông</h2>
    </div>
</div>