
@{
    ViewBag.Title = "MonHoc";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Danh sách môn</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
            <li class="breadcrumb-item">Quản lý</li>
            <li class="breadcrumb-item active" aria-current="page">Môn học</li>
        </ol>
    </div>

    <!-- Row -->
    <div class="row">
        <div class="col-lg-12" style="margin-bottom:20px">
            <button type="button" class="btn btn-primary" onclick="CreateMH()"><i style="padding-right:5px" class="fas fa-plus"></i>Thêm môn học</button>
        </div>
        <!-- DataTable with Hover -->
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                        <thead class="thead-light">
                            <tr>
                                <th>Mã môn</th>
                                <th>Tên môn học</th>

                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @using (ToMoToDBEntities db = new ToMoToDBEntities())
                            {

                                var monhoc = db.MonHocs.ToList();


                                foreach (var item in monhoc.ToList())
                                {
                                    <tr>
                                        <td>@item.MaMon</td>
                                        <td>@item.TenMonHoc</td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-primary" href="/Admin/ChiTietMonHoc/@item.IdMonHoc" role="button"><i class="fa fa-edit"></i></a>
                                                <button type="button" class="btn btn-danger" onclick="DeleteMH(@item.IdMonHoc,'@item.TenMonHoc')"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Row-->
</div>

<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTitle">Thêm môn học</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Mã Môn Học</label>
                        <input type="text" class="form-control" name="mamonhoc">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Tên Môn Học</label>
                        <input type="text" class="form-control" name="tenmonhoc">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Mô tả Môn Học</label>
                        <textarea type="text" class="form-control" name="mota" minlength="5" maxlength="6000"></textarea>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveInfo()">Lưu</button>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var idmonhoc = 0;

    function CreateMH() {
        idmonhoc = 0;
        $("#addTitle").html("Thêm môn học mới");
        $("[name='mamonhoc']").val("");
        $("[name='tenmonhoc']").val("");
        $("[name='mota']").val("");
        $('#modalAdd').modal("show");
    }
    function EditMH(id) {
        idmonhoc = id;
        $.ajax({
            url: '/Ajax/GetMonHoc/' + idmonhoc,
            type: 'POST',
            dataType: 'text',
            data: {
                id: idmonhoc,
            }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
             $("#addTitle").html("Chỉnh sửa môn học");
            $("[name='mamonhoc']").val(json.mamonhoc);
            $("[name='tenmonhoc']").val(json.tenmonhoc);
            $("[name='mota']").val(json.mota);
            $('#modalAdd').modal("show");
        });
    }

    function DeleteMH(id, name) {
        // hien message
        var dialog = bootbox.dialog({
            title: 'Thông báo xóa môn học',
            message: "<p>Bạn có muốn xóa môn học " + name + " không?</p>",
            size: 'large',
            closeButton: false,
            buttons: {
                ok: {
                    label: "Có",
                    className: 'btn-info',
                    callback: function () {
                        dialog = bootbox.dialog({
                            closeButton: false,
                            message: '<p><i class="fa fa-spin fa-spinner"></i> Đang thực hiện...</p>'
                        });

                        dialog.init(function () {
                            setTimeout(function () {
                                location.href = "/Admin/XoaMonHoc/" + id;
                            }, 1000);
                        });
                    }
                },
                cancel: {
                    label: "Không",
                    className: 'btn-danger',
                }
            }
        });
    }

    function SaveInfo() {
        var mamonhoc = $("[name='mamonhoc']").val();
        var tenmonhoc = $("[name='tenmonhoc']").val();
        var mota = $("[name='mota']").val();
        if (mamonhoc == '' || tenmonhoc == '' || mota == '') {
            alert("Vui lòng điền đủ thông tin!");
            return;
        }
        $.ajax({
            url: '/Ajax/PostMonHoc',
            type: 'POST',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "json",
            data: {
                IdMonHoc: idmonhoc,
                MaMon: mamonhoc,
                TenMonHoc: tenmonhoc,
                MoTa: mota,
            },
        }).done(function (ketqua) {
            //ketqua = $.parseJSON(ketqua);
            if (ketqua.Success) {
                alert("Lưu dữ liệu thành công");
                location.reload();
                return;
            }
            alert(ketqua.Message);
        });
    }
</script>