USE [master]
GO
/****** Object:  Database [ToMoToDB]    Script Date: 7/5/2020 3:49:32 PM ******/
CREATE DATABASE [ToMoToDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToMoToDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ToMoToDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ToMoToDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ToMoToDB_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToMoToDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToMoToDB]
GO
/****** Object:  Table [dbo].[BaiHoc]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiHoc](
	[IdBaiHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenBaiHoc] [nvarchar](500) NOT NULL,
	[NoiDung] [ntext] NULL,
	[Video] [ntext] NULL,
	[ChoPhepNopBai] [bit] NOT NULL,
	[IdNguoiDung] [int] NOT NULL,
 CONSTRAINT [PK__BaiHoc__62B80267C4F39082] PRIMARY KEY CLUSTERED 
(
	[IdBaiHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[IdBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](1000) NULL,
	[NgayBinhLuan] [datetime] NOT NULL,
	[IdNguoiDung] [int] NOT NULL,
	[IdBaiHoc] [int] NULL,
	[IdThaoLuan] [int] NULL,
 CONSTRAINT [PK__BinhLuan__A6E39FBF11C91A4B] PRIMARY KEY CLUSTERED 
(
	[IdBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIET_CT_HOC]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_CT_HOC](
	[IdChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[IdCTHoc] [int] NOT NULL,
	[IdTuLuan] [int] NULL,
	[IdTracNghiem] [int] NULL,
	[IdBaiHoc] [int] NULL,
	[ThuTu] [int] NULL,
	[NgayBatDau] [datetime] NULL,
 CONSTRAINT [PK__CHITIET___4E91F45EE9198549] PRIMARY KEY CLUSTERED 
(
	[IdChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_HOC]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOC](
	[IdCTHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenCT] [nvarchar](500) NULL,
	[NgayTao] [datetime] NULL,
	[IdNguoiDung] [int] NOT NULL,
	[IdMonHoc] [int] NOT NULL,
 CONSTRAINT [PK__CT_HOC__907C41A3194153B6] PRIMARY KEY CLUSTERED 
(
	[IdCTHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DataSystem]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataSystem](
	[IdData] [int] NOT NULL,
	[Var] [nchar](50) NULL,
	[Value] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DS_TL_CauHoi]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DS_TL_CauHoi](
	[IdCauHoiTuLuan] [int] NOT NULL,
	[IdTuLuan] [int] NOT NULL,
 CONSTRAINT [PK_DS_TL_CauHoi] PRIMARY KEY CLUSTERED 
(
	[IdCauHoiTuLuan] ASC,
	[IdTuLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DS_TN_CauHoi]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DS_TN_CauHoi](
	[IdTracNghiem] [int] NOT NULL,
	[IdCauHoi] [int] NOT NULL,
 CONSTRAINT [PK_DS_TN_CauHoi] PRIMARY KEY CLUSTERED 
(
	[IdTracNghiem] ASC,
	[IdCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FileGiangVien]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileGiangVien](
	[IdFileThongBao] [int] IDENTITY(1,1) NOT NULL,
	[IdBaiHoc] [int] NULL,
	[IdThaoLuan] [int] NULL,
	[NoiDung] [nvarchar](500) NULL,
	[NgayTao] [datetime] NULL,
	[Link] [nchar](300) NULL,
 CONSTRAINT [PK__FileGian__E4D30DA9C99902D7] PRIMARY KEY CLUSTERED 
(
	[IdFileThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FileHocVien]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileHocVien](
	[IdFileHocVien] [int] IDENTITY(1,1) NOT NULL,
	[Link] [ntext] NULL,
	[NgayTao] [datetime] NULL,
	[NoiDung] [ntext] NULL,
	[IdBaiHoc] [int] NOT NULL,
	[IdSinhVien] [int] NOT NULL,
 CONSTRAINT [PK__FileHocV__138ABDCE93C446F0] PRIMARY KEY CLUSTERED 
(
	[IdFileHocVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[IdKhoa] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK__Khoa__7BA71CE8C9CE1C1B] PRIMARY KEY CLUSTERED 
(
	[IdKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[IdLopHoc] [int] IDENTITY(1,1) NOT NULL,
	[MaLop] [nvarchar](10) NOT NULL,
	[TenLop] [nvarchar](200) NOT NULL,
	[MoTa] [ntext] NULL,
	[TinhTrang] [smallint] NULL,
	[IdCTHoc] [int] NOT NULL,
	[IdNguoiDung] [int] NOT NULL,
 CONSTRAINT [PK__LopHoc__2E65F28B7C4B7B90] PRIMARY KEY CLUSTERED 
(
	[IdLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[IdMonHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](50) NULL,
	[MoTa] [nvarchar](100) NULL,
	[MaMon] [nvarchar](10) NULL,
 CONSTRAINT [PK__MonHoc__A868CD92853A128D] PRIMARY KEY CLUSTERED 
(
	[IdMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonHoc_Khoa]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc_Khoa](
	[IdKhoa] [int] NOT NULL,
	[IdMonHoc] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKhoa] ASC,
	[IdMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[IdNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[IdVaiTro] [int] NOT NULL,
	[TaiKhoan] [varchar](20) NOT NULL,
	[MatKhau] [varchar](20) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[Avatar] [nvarchar](30) NULL,
 CONSTRAINT [PK__NguoiDun__FEE82D40EA9CCC07] PRIMARY KEY CLUSTERED 
(
	[IdNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SinhVien](
	[IdSinhVien] [int] IDENTITY(1,1) NOT NULL,
	[Mssv] [varchar](12) NULL,
	[MaLopSv] [varchar](10) NULL,
	[IdNguoiDung] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SinhVien_BaiLam_TracNghiem]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien_BaiLam_TracNghiem](
	[IdBaiLam] [int] IDENTITY(1,1) NOT NULL,
	[IdDapAn] [int] NOT NULL,
	[IdCauHoi] [int] NOT NULL,
	[IdSinhVien] [int] NOT NULL,
	[NgayNop] [datetime] NULL,
	[IdTracNghiem] [int] NULL,
 CONSTRAINT [PK_SinhVien_BaiLam_TracNghiem_1] PRIMARY KEY CLUSTERED 
(
	[IdBaiLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SinhVien_TL_DapAn]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien_TL_DapAn](
	[IdSinhVien] [int] NOT NULL,
	[IdCauHoiTuLuan] [int] NOT NULL,
	[DapAn] [ntext] NULL,
	[DiemTuLuan] [decimal](18, 2) NULL,
 CONSTRAINT [PK__SinhVien__85718F8751D1B56B] PRIMARY KEY CLUSTERED 
(
	[IdSinhVien] ASC,
	[IdCauHoiTuLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SinhVien_TN_DapAn]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien_TN_DapAn](
	[IdNopBai] [int] NOT NULL,
	[IdDapAn] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNopBai] ASC,
	[IdDapAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SinhVien_TracNghiem]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien_TracNghiem](
	[IdNopBai] [int] IDENTITY(1,1) NOT NULL,
	[IdSinhVien] [int] NOT NULL,
	[IdTracNghiem] [int] NOT NULL,
	[NgayLam] [datetime] NULL,
	[NgayNop] [datetime] NULL,
 CONSTRAINT [PK__SinhVien__1152E0F123DE1778] PRIMARY KEY CLUSTERED 
(
	[IdNopBai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Slider]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[IdSlider] [int] NOT NULL,
	[TenHinh] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](100) NULL,
	[Link] [nchar](200) NULL,
	[Target] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSlider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVLop]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVLop](
	[IdSinhVien] [int] NOT NULL,
	[IdLopHoc] [int] NOT NULL,
	[NgayThamGia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSinhVien] ASC,
	[IdLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[IdThaoLuan] [int] IDENTITY(1,1) NOT NULL,
	[CauThaoLuan] [nvarchar](max) NULL,
	[IdLopHoc] [int] NOT NULL,
	[IdNguoiDung] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK__ThongBao__68EE45DE47D6F95A] PRIMARY KEY CLUSTERED 
(
	[IdThaoLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TracNghiem]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TracNghiem](
	[IdTracNghiem] [int] IDENTITY(1,1) NOT NULL,
	[TenTracNghiem] [nvarchar](100) NULL,
	[MoTa] [nvarchar](200) NULL,
	[ThoiGian] [int] NULL,
	[HanChot] [datetime] NULL,
	[IdNguoiDung] [int] NOT NULL,
 CONSTRAINT [PK__TracNghi__2DF08E36A22A16E6] PRIMARY KEY CLUSTERED 
(
	[IdTracNghiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TracNghiem_CauHoi]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TracNghiem_CauHoi](
	[IdCauHoi] [int] IDENTITY(1,1) NOT NULL,
	[NoiDungCauHoi] [ntext] NULL,
	[IdNguoiDung] [int] NULL,
 CONSTRAINT [PK__TracNghi__7F0B00FFEA3E490B] PRIMARY KEY CLUSTERED 
(
	[IdCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TracNghiem_DapAn]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TracNghiem_DapAn](
	[IdDapAn] [int] IDENTITY(1,1) NOT NULL,
	[DapAn] [ntext] NOT NULL,
	[DapAnDung] [bit] NULL,
	[IdCauHoi] [int] NOT NULL,
 CONSTRAINT [PK__TracNghi__A785A4F261FE9451] PRIMARY KEY CLUSTERED 
(
	[IdDapAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TuLuan]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuLuan](
	[IdTuLuan] [int] IDENTITY(1,1) NOT NULL,
	[TenTuLuan] [nvarchar](500) NULL,
	[MoTa] [ntext] NULL,
	[ThoiGian] [int] NULL,
	[HanChot] [datetime] NULL,
	[IdNguoiDung] [int] NOT NULL,
 CONSTRAINT [PK__TuLuan__0C2FC32E9203B1AB] PRIMARY KEY CLUSTERED 
(
	[IdTuLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TuLuan_CauHoi]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuLuan_CauHoi](
	[IdCauHoiTuLuan] [int] IDENTITY(1,1) NOT NULL,
	[CauHoiTuLuan] [ntext] NULL,
	[IdNguoiDung] [int] NOT NULL,
 CONSTRAINT [PK__TuLuan_C__6DA6AF103716DAC9] PRIMARY KEY CLUSTERED 
(
	[IdCauHoiTuLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 7/5/2020 3:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[IdVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](30) NULL,
 CONSTRAINT [PK__VaiTro__491B115C73536F8A] PRIMARY KEY CLUSTERED 
(
	[IdVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BaiHoc]  WITH CHECK ADD  CONSTRAINT [FK_BaiHoc_NguoiDung] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[BaiHoc] CHECK CONSTRAINT [FK_BaiHoc_NguoiDung]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK__BinhLuan__IdBaiH__46E78A0C] FOREIGN KEY([IdBaiHoc])
REFERENCES [dbo].[BaiHoc] ([IdBaiHoc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK__BinhLuan__IdBaiH__46E78A0C]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK__BinhLuan__IdNguo__4222D4EF] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK__BinhLuan__IdNguo__4222D4EF]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_ThongBao] FOREIGN KEY([IdThaoLuan])
REFERENCES [dbo].[ThongBao] ([IdThaoLuan])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_ThongBao]
GO
ALTER TABLE [dbo].[CHITIET_CT_HOC]  WITH CHECK ADD  CONSTRAINT [FK__CHITIET_C__IdBai__44FF419A] FOREIGN KEY([IdBaiHoc])
REFERENCES [dbo].[BaiHoc] ([IdBaiHoc])
GO
ALTER TABLE [dbo].[CHITIET_CT_HOC] CHECK CONSTRAINT [FK__CHITIET_C__IdBai__44FF419A]
GO
ALTER TABLE [dbo].[CHITIET_CT_HOC]  WITH CHECK ADD  CONSTRAINT [FK__CHITIET_C__IdBai__4F7CD00D] FOREIGN KEY([IdTracNghiem])
REFERENCES [dbo].[TracNghiem] ([IdTracNghiem])
GO
ALTER TABLE [dbo].[CHITIET_CT_HOC] CHECK CONSTRAINT [FK__CHITIET_C__IdBai__4F7CD00D]
GO
ALTER TABLE [dbo].[CHITIET_CT_HOC]  WITH CHECK ADD  CONSTRAINT [FK__CHITIET_C__IdCTH__4316F928] FOREIGN KEY([IdCTHoc])
REFERENCES [dbo].[CT_HOC] ([IdCTHoc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIET_CT_HOC] CHECK CONSTRAINT [FK__CHITIET_C__IdCTH__4316F928]
GO
ALTER TABLE [dbo].[CHITIET_CT_HOC]  WITH CHECK ADD  CONSTRAINT [FK__CHITIET_C__IdTuL__5812160E] FOREIGN KEY([IdTuLuan])
REFERENCES [dbo].[TuLuan] ([IdTuLuan])
GO
ALTER TABLE [dbo].[CHITIET_CT_HOC] CHECK CONSTRAINT [FK__CHITIET_C__IdTuL__5812160E]
GO
ALTER TABLE [dbo].[CT_HOC]  WITH CHECK ADD  CONSTRAINT [FK__CT_HOC__IdMonHoc__440B1D61] FOREIGN KEY([IdMonHoc])
REFERENCES [dbo].[MonHoc] ([IdMonHoc])
GO
ALTER TABLE [dbo].[CT_HOC] CHECK CONSTRAINT [FK__CT_HOC__IdMonHoc__440B1D61]
GO
ALTER TABLE [dbo].[CT_HOC]  WITH CHECK ADD  CONSTRAINT [FK__CT_HOC__IdNguoiD__403A8C7D] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[CT_HOC] CHECK CONSTRAINT [FK__CT_HOC__IdNguoiD__403A8C7D]
GO
ALTER TABLE [dbo].[DS_TL_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_DS_TL_CauHoi_TuLuan_CauHoi1] FOREIGN KEY([IdCauHoiTuLuan])
REFERENCES [dbo].[TuLuan_CauHoi] ([IdCauHoiTuLuan])
GO
ALTER TABLE [dbo].[DS_TL_CauHoi] CHECK CONSTRAINT [FK_DS_TL_CauHoi_TuLuan_CauHoi1]
GO
ALTER TABLE [dbo].[DS_TL_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_DS_TL_CauHoi_TuLuan1] FOREIGN KEY([IdTuLuan])
REFERENCES [dbo].[TuLuan] ([IdTuLuan])
GO
ALTER TABLE [dbo].[DS_TL_CauHoi] CHECK CONSTRAINT [FK_DS_TL_CauHoi_TuLuan1]
GO
ALTER TABLE [dbo].[DS_TN_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_DS_TN_CauHoi_TracNghiem] FOREIGN KEY([IdTracNghiem])
REFERENCES [dbo].[TracNghiem] ([IdTracNghiem])
GO
ALTER TABLE [dbo].[DS_TN_CauHoi] CHECK CONSTRAINT [FK_DS_TN_CauHoi_TracNghiem]
GO
ALTER TABLE [dbo].[DS_TN_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_DS_TN_CauHoi_TracNghiem_CauHoi] FOREIGN KEY([IdCauHoi])
REFERENCES [dbo].[TracNghiem_CauHoi] ([IdCauHoi])
GO
ALTER TABLE [dbo].[DS_TN_CauHoi] CHECK CONSTRAINT [FK_DS_TN_CauHoi_TracNghiem_CauHoi]
GO
ALTER TABLE [dbo].[FileGiangVien]  WITH CHECK ADD  CONSTRAINT [FK__FileGiang__IdBai__47DBAE45] FOREIGN KEY([IdBaiHoc])
REFERENCES [dbo].[BaiHoc] ([IdBaiHoc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FileGiangVien] CHECK CONSTRAINT [FK__FileGiang__IdBai__47DBAE45]
GO
ALTER TABLE [dbo].[FileGiangVien]  WITH CHECK ADD  CONSTRAINT [FK__FileGiang__IdTha__47DBAE45] FOREIGN KEY([IdThaoLuan])
REFERENCES [dbo].[ThongBao] ([IdThaoLuan])
GO
ALTER TABLE [dbo].[FileGiangVien] CHECK CONSTRAINT [FK__FileGiang__IdTha__47DBAE45]
GO
ALTER TABLE [dbo].[FileHocVien]  WITH CHECK ADD  CONSTRAINT [FK__FileHocVi__IdBai__45F365D3] FOREIGN KEY([IdBaiHoc])
REFERENCES [dbo].[BaiHoc] ([IdBaiHoc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FileHocVien] CHECK CONSTRAINT [FK__FileHocVi__IdBai__45F365D3]
GO
ALTER TABLE [dbo].[FileHocVien]  WITH CHECK ADD  CONSTRAINT [FK__FileHocVi__IdSin__4BAC3F29] FOREIGN KEY([IdSinhVien])
REFERENCES [dbo].[SinhVien] ([IdSinhVien])
GO
ALTER TABLE [dbo].[FileHocVien] CHECK CONSTRAINT [FK__FileHocVi__IdSin__4BAC3F29]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK__LopHoc__IdCTHoc__52593CB8] FOREIGN KEY([IdCTHoc])
REFERENCES [dbo].[CT_HOC] ([IdCTHoc])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK__LopHoc__IdCTHoc__52593CB8]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK__LopHoc__IdNguoiD__412EB0B6] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK__LopHoc__IdNguoiD__412EB0B6]
GO
ALTER TABLE [dbo].[MonHoc_Khoa]  WITH CHECK ADD  CONSTRAINT [FK__MonHoc_Kh__IdKho__3E52440B] FOREIGN KEY([IdKhoa])
REFERENCES [dbo].[Khoa] ([IdKhoa])
GO
ALTER TABLE [dbo].[MonHoc_Khoa] CHECK CONSTRAINT [FK__MonHoc_Kh__IdKho__3E52440B]
GO
ALTER TABLE [dbo].[MonHoc_Khoa]  WITH CHECK ADD  CONSTRAINT [FK__MonHoc_Kh__IdMon__4316F928] FOREIGN KEY([IdMonHoc])
REFERENCES [dbo].[MonHoc] ([IdMonHoc])
GO
ALTER TABLE [dbo].[MonHoc_Khoa] CHECK CONSTRAINT [FK__MonHoc_Kh__IdMon__4316F928]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK__NguoiDung__IdVai__4E88ABD4] FOREIGN KEY([IdVaiTro])
REFERENCES [dbo].[VaiTro] ([IdVaiTro])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK__NguoiDung__IdVai__4E88ABD4]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK__SinhVien__IdNguo__3F466844] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK__SinhVien__IdNguo__3F466844]
GO
ALTER TABLE [dbo].[SinhVien_BaiLam_TracNghiem]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_BaiLam_TracNghiem_SinhVien] FOREIGN KEY([IdSinhVien])
REFERENCES [dbo].[SinhVien] ([IdSinhVien])
GO
ALTER TABLE [dbo].[SinhVien_BaiLam_TracNghiem] CHECK CONSTRAINT [FK_SinhVien_BaiLam_TracNghiem_SinhVien]
GO
ALTER TABLE [dbo].[SinhVien_BaiLam_TracNghiem]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_BaiLam_TracNghiem_TracNghiem] FOREIGN KEY([IdTracNghiem])
REFERENCES [dbo].[TracNghiem] ([IdTracNghiem])
GO
ALTER TABLE [dbo].[SinhVien_BaiLam_TracNghiem] CHECK CONSTRAINT [FK_SinhVien_BaiLam_TracNghiem_TracNghiem]
GO
ALTER TABLE [dbo].[SinhVien_BaiLam_TracNghiem]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_BaiLam_TracNghiem_TracNghiem_CauHoi] FOREIGN KEY([IdCauHoi])
REFERENCES [dbo].[TracNghiem_CauHoi] ([IdCauHoi])
GO
ALTER TABLE [dbo].[SinhVien_BaiLam_TracNghiem] CHECK CONSTRAINT [FK_SinhVien_BaiLam_TracNghiem_TracNghiem_CauHoi]
GO
ALTER TABLE [dbo].[SinhVien_BaiLam_TracNghiem]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_BaiLam_TracNghiem_TracNghiem_DapAn] FOREIGN KEY([IdDapAn])
REFERENCES [dbo].[TracNghiem_DapAn] ([IdDapAn])
GO
ALTER TABLE [dbo].[SinhVien_BaiLam_TracNghiem] CHECK CONSTRAINT [FK_SinhVien_BaiLam_TracNghiem_TracNghiem_DapAn]
GO
ALTER TABLE [dbo].[SinhVien_TL_DapAn]  WITH CHECK ADD  CONSTRAINT [FK__SinhVien___IdCau__59FA5E80] FOREIGN KEY([IdCauHoiTuLuan])
REFERENCES [dbo].[TuLuan_CauHoi] ([IdCauHoiTuLuan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinhVien_TL_DapAn] CHECK CONSTRAINT [FK__SinhVien___IdCau__59FA5E80]
GO
ALTER TABLE [dbo].[SinhVien_TL_DapAn]  WITH CHECK ADD  CONSTRAINT [FK__SinhVien___IdSin__4D94879B] FOREIGN KEY([IdSinhVien])
REFERENCES [dbo].[SinhVien] ([IdSinhVien])
GO
ALTER TABLE [dbo].[SinhVien_TL_DapAn] CHECK CONSTRAINT [FK__SinhVien___IdSin__4D94879B]
GO
ALTER TABLE [dbo].[SinhVien_TracNghiem]  WITH CHECK ADD  CONSTRAINT [FK__SinhVien___IdSin__4CA06362] FOREIGN KEY([IdSinhVien])
REFERENCES [dbo].[SinhVien] ([IdSinhVien])
GO
ALTER TABLE [dbo].[SinhVien_TracNghiem] CHECK CONSTRAINT [FK__SinhVien___IdSin__4CA06362]
GO
ALTER TABLE [dbo].[SVLop]  WITH CHECK ADD  CONSTRAINT [FK__SVLop__IdLopHoc__48CFD27E] FOREIGN KEY([IdLopHoc])
REFERENCES [dbo].[LopHoc] ([IdLopHoc])
GO
ALTER TABLE [dbo].[SVLop] CHECK CONSTRAINT [FK__SVLop__IdLopHoc__48CFD27E]
GO
ALTER TABLE [dbo].[SVLop]  WITH CHECK ADD FOREIGN KEY([IdSinhVien])
REFERENCES [dbo].[SinhVien] ([IdSinhVien])
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK__ThongBao__IdLopH__49C3F6B7] FOREIGN KEY([IdLopHoc])
REFERENCES [dbo].[LopHoc] ([IdLopHoc])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK__ThongBao__IdLopH__49C3F6B7]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_NguoiDung] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_NguoiDung]
GO
ALTER TABLE [dbo].[TracNghiem]  WITH CHECK ADD  CONSTRAINT [FK_TracNghiem_NguoiDung] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[TracNghiem] CHECK CONSTRAINT [FK_TracNghiem_NguoiDung]
GO
ALTER TABLE [dbo].[TracNghiem_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_TracNghiem_CauHoi_NguoiDung] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[TracNghiem_CauHoi] CHECK CONSTRAINT [FK_TracNghiem_CauHoi_NguoiDung]
GO
ALTER TABLE [dbo].[TracNghiem_DapAn]  WITH CHECK ADD  CONSTRAINT [FK_TracNghiem_DapAn_TracNghiem_CauHoi] FOREIGN KEY([IdCauHoi])
REFERENCES [dbo].[TracNghiem_CauHoi] ([IdCauHoi])
GO
ALTER TABLE [dbo].[TracNghiem_DapAn] CHECK CONSTRAINT [FK_TracNghiem_DapAn_TracNghiem_CauHoi]
GO
ALTER TABLE [dbo].[TuLuan]  WITH CHECK ADD  CONSTRAINT [FK_TuLuan_NguoiDung] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[TuLuan] CHECK CONSTRAINT [FK_TuLuan_NguoiDung]
GO
ALTER TABLE [dbo].[TuLuan_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_TuLuan_CauHoi_NguoiDung] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
GO
ALTER TABLE [dbo].[TuLuan_CauHoi] CHECK CONSTRAINT [FK_TuLuan_CauHoi_NguoiDung]
GO
USE [master]
GO
