@{
    Layout = null;
}
    <div class="modal fade" id="modalAddBaiHoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTitle">Thêm môn học</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">Tên bài học</label>
                            <input type="text" class="form-control" name="tenbaihoc">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Nội dung</label>
                            <textarea type="text" class="form-control" name="noidungbaihoc"></textarea>

                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Video</label>
                            <input type="text" class="form-control" name="videobaihoc">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    @{
                        var nd = (NguoiDung)Session["user"];

                        <button type="button" class="btn btn-primary" onclick="SaveBaiHoc(@nd.IdNguoiDung)">Lưu</button>
                    }

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        CKEDITOR.replace('noidungbaihoc');

        function SaveBaiHoc(idnguoidung) {
            var tenbaihoc = $("[name='tenbaihoc']").val();
            var noidungbaihoc = $("[name='noidungbaihoc']").val();
            var videobaihoc = $("[name='videobaihoc']").val();
            //var chophepnopbai = $("[name='chophepnopbai']").val();
            //var idnguoidungbaihoc = $("[name='idnguoidungbaihoc']").val();
            if (tenbaihoc == ''      ) {
                alert("Vui lòng điền đủ thông tin!");
                return;
            }
            $.ajax({
                url: '/Ajax/PostBaiHoc',
                type: 'POST',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                data: {
                    IdBaiHoc: idbaihoc,
                    TenBaiHoc: tenbaihoc,
                    NoiDung: noidungbaihoc,
                    Video: videobaihoc,
                    //ChoPhepNopBai: chophepnopbai,
                    idnguoidung,
                    idCT,
                },
            }).done(function (ketqua) {
                //ketqua = $.parseJSON(ketqua);
                if (ketqua.Success) {
                    alert("Lưu dữ liệu thành công");
                    location.reload();
                    return;
                }
                alert(ketqua.Message);
            });
        }
    </script>