@{
    Layout = null;
}
    <div class="modal fade" id="modalAddTuLuan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTitle">Thêm</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">Tên</label>
                            <input type="text" class="form-control" name="tentuluan">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Thời gian làm (phút)</label>
                            <input type="number" min="0" max="10000" class="form-control" id="WarningDayLeft" placeholder="Thời gian" value="" name="thoigiantuluan">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Thời gian hết hạn</label>
                            <input type="datetime-local" class="form-control" id="OpenDate" placeholder="Thời gian hết hạn" name="hanchottuluan" value="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Mô tả</label>
                            <textarea type="text" class="form-control" name="motatuluan" minlength="5" maxlength="6000"></textarea>
                        </div>
                        @*<div class="form-group">
                            Người tạo
                            <select name="idnguoidungtuluan" class="form-control select">
                                @using (ToMoToDBEntities db = new ToMoToDBEntities())
                                {
                                    foreach (var item in db.NguoiDungs.ToList())
                                    {
                                        <option value="@item.IdNguoiDung">@item.TaiKhoan</option>
                                    }
                                }
                            </select>
                        </div>*@
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="SaveTuLuan()">Lưu</button>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function SaveTuLuan() {
            var tentuluan = $("[name='tentuluan']").val();
            var thoigiantuluan = $("[name='thoigiantuluan']").val();
            var hanchottuluan = $("[name='hanchottuluan']").val();
            var motatuluan = $("[name='motatuluan']").val();
            //var idnguoidungtuluan = $("[name='idnguoidungtuluan']").val();
            if (tentuluan == '' || thoigiantuluan == '' ) {
                alert("Vui lòng điền đủ thông tin!");
                return;
            }
            $.ajax({
                url: '/Ajax/PostTuLuan',
                type: 'POST',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                data: {
                    IdTuLuan: idtuluan,
                    TenTuLuan: tentuluan,
                    ThoiGian: thoigiantuluan,
                    HanChot: hanchottuluan,
                    MoTa: motatuluan,
                    IdNguoiDung: idnguoidung,
                    idCT,
                },
            }).done(function (ketqua) {
                //ketqua = $.parseJSON(ketqua);
                if (ketqua.Success) {
                    alert("Lưu dữ liệu thành công");
                    location.href = "?RefeshTab=1";
                    return;
                }
                alert(ketqua.Message);
            });
        }
    </script>